
.page {
    width: 210mm;
    height: 210mm;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: gray;
    padding: 20px;
  }
  
  .header-content {
    display: flex;
    align-items: center;
  }
  
  .title {
    font-size: 34px;
    margin-left: 200px;
    color: white;
    text-align: center;
  }
  
  .main {
    display: flex;
    background-color: white;
  }
  
  .left-column {
    background-color: lightgray;
    padding: 20px;
    height: 750px;
  }
  
  .right-column {
    flex: 2;
    padding: 20px;
  }
  
  h2 {
    font-size: 21px;
    margin-top: 0;
  }
  
  h2:after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 2px solid #000;
    margin-top: 5px;
  }
  
  ul {
    list-style-type: circle;
    color: black;
  }
  
  .imagen-circular {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 45px;
  }
  
